.form-data {
    background: rgba(100, 46, 172, 0.822);
    border: 1px solid hsl(240, 33%, 85%);
    box-shadow: -webkit-box-shadow 0 0 10px rgb(20, 13, 13);
    box-shadow: 0 0 10px #ffff;
    padding: 2rem;
    width: 50%;
    position: relative;
    text-align: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
 }

.login-input-field{
    height: 5%;
    margin-top: 10px;
    width: 100%;
}

.login-gp-btn{
    display: flex;
    justify-content: space-around;
}

.login-submit-btn{
    color: rgba(104, 35, 129, 0.411);
    width: 50px;
    margin-top: 20px;
}


@media screen and (max-width:700px){
    .form-data{
        height: 100%;
        width: 100%;
    }

    .login-submit-btn{
        width: 100%;
    }
    .login-gp-btn{
        display: flex;
        flex-direction: column;
    } 
}