#short-form{
    border:1px solid transparent;
    background-color:hsl(257, 7%, 90%);
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center;
}

.short-background{
    border: 1px solid transparent;
    width: 70%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label{
    border: 1px solid transparent;
    padding: 5px;
    width:80%;
}

.shorten-btn-box{
    border: 1px solid transparent;
    padding: 10px;
}


input{
    width: 100%;
    padding:20px;
}

.display--shortend--link{
    width:80%;
    height: 45px;
    padding: 2px;
    border: 1px solid hsl(257, 27%, 26%);
    background-color: hsl(0, 0%, 100%);
    font-size: 16px;
    color: hsl(257, 27%, 26%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide-copy{
    display: none;
}

.btn--short--it,.btn--copy{
    width: 150px;
    height: 45px;
    background-color: hsl(180, 66%, 49%);
    border: 1px solid hsl(180, 66%, 49%);
    border-radius:5px;
    color:hsl(0, 0%, 100%);
    font-size:20px;
    cursor:pointer;
}
.btn--short--it:disabled,
button[disabled]{
    border:1px solid #cccccc;
    background-color:#cccccc;
    color:#666666;
}
.feedback{
    color:red;
}


@media screen and (max-width:700px) {
    .short-background{
        width: 100%;
    }
}